# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.egg
*.egg-info
dist
build

# vscode:
.vscode

# IDE
.idea

# mac os:
.DS_Store

# My configurations:
/*.tar.gz
/log
/conf/models.conf
obj
release
ai_msg_module.so

# Xcode Clion
test_tensorflow_c_api.xcodeproj/
cmake-build-debug/

# svn git
.svn/
.git/